<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
     <meta name="description" content="BTC Bouncer">
     <meta name="author" content="Valerio Vaccaro">
     <link rel="icon" href="">
     <title>₿TC Bouncer</title>
     <link href="/static/bootstrap.min.css" rel="stylesheet">
     <link href="/static/local.css" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">Home</a>
               <a class="navbar-brand" href="/list">Last Tx</a>
               <a class="navbar-brand" href="/about">Credits</a>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/><br/><br/><br/>
         <div id="sl">
            <br/><br/>
            <div class="well">
              <h3>Credits</h3>
              <p>Made by <a href="https://twitter.com/tulipan81" target="_blank">Valerio</a>.</p>
              <p>Code available on <a href="https://github.com/valerio-vaccaro/BTCBouncer" target="_blank">https://github.com/valerio-vaccaro/BTCBouncer</a>.</p>
              <p>Photos from usplash.</p>
              <h3>License</h3>
              <p>MIT License</p></br>

              <p>Copyright (c) 2018-2020 Valerio Vaccaro</p></br>

              <p>Permission is hereby granted, free of charge, to any person obtaining a copy
              of this software and associated documentation files (the "Software"), to deal
              in the Software without restriction, including without limitation the rights
              to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
              copies of the Software, and to permit persons to whom the Software is
              furnished to do so, subject to the following conditions:</p></br>

              <p>The above copyright notice and this permission notice shall be included in all
              copies or substantial portions of the Software.</p></br>

              <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
              IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
              FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
              AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
              LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
              SOFTWARE.</p></br>

            </div>
         </div>
      </div>
      </div>
      <script src="/static/jquery.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
   </body>
</html>
